appdirs==1.4.4
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-sqlalchemy==0.26.1
mysqlclient==2.0.3
PyMySQL==1.0.2
six==1.16.0
SQLAlchemy==1.4.26
virtualenv==20.4.7
Werkzeug==2.0.1